.body{
	background-color: #c4c4c4;
}

.footer{
	text-align: center;
}

.slider{
	width: 603px;
	height: 410px;
	overflow:hidden;
	margin: 30px auto;
	
	background-image:url('../Images/load.gif');
	background-repeat:no-repeat;
	
	background-position:center;
}

.slider img{
	width: 300px;
	height:200px;
	display:none;	
}


article{
	background-color:white;
	padding: 1% 3%;
	border: thin white solid;
	border-radius: 5em;
	
	box-shadow: 5px 8px 10px grey;
}