body{
	background-color:navy;
	background-image:url('../Images/background.png');
}

header{
	margin: 1% 15%;
	padding:1% 5%;
	background-color:#6699FF;
	border:thick black solid;
	border-radius: 5em;
}

nav{
	margin: 0.5% 22%;
	padding: auto;
	text-align:center;
	background-color: white;
	color: #003399;
	border: medium navy solid;
	border-radius: 5em;
	
	font-size:23px;
	
	box-shadow: 5px 5px 15px navy;
}

nav a{
	text-decoration:none;
}

section{
	margin: 1% 5%;
	padding:1% 5%;
	background-color:#6699FF;
	border:thick black solid;
	border-radius: 5em;
}

section h1{
	text-indent: 2em;
}

h1{
	font-size: 24px;
}

.bodyText{
	text-indent: 2em;
	font-size: 20px;
}

#photo{
	text-align:center;
}

footer{
	text-align:center;
	margin: 2% 40%;
	padding: 1% 2%;
	background-color:#6699FF;
	border:thick black solid;
	border-radius: 5em;
}
